* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.cont {
  margin-top:50px;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.subtitle {
  color: #999;
  font-weight: 300;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

.todo {
  border-top: 1px solid #f1f1f1;
  counter-reset: ol-counter;
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0;
}

.task {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease-out;
  border-left: 4px solid white;
}

.task:before {
  color: #999;
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: inline-block;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  width: 3em;
}

.task .avatar {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.task .name {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: middle;
}

.task .due {
  color: #333;
  display: block;
  float: right;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 2.4em;
  padding-right: 1.25em;
}

.task.selected {
  background-color: #fefff4;
  border-left: #eb5f3a 4px solid;
}

.task:hover {
  background-color: #fefff4;
}

/*.add-button {
  background: #e5e5e5;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

  .add-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .add-button:hover {
    background: #999;
  } */

#addForm {
  padding-left: 15px;
  border-bottom: 2px solid #f1f1f1;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-appearance:none;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

form {
  margin-bottom: 0;
}

form div.columns{
  padding: 0;
}

input {
  width: 100%;
  height: 40px;
}

#login-buttons {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#login-buttons:hover{
  color: black;
}

#login-buttons a, .accounts-dialog a {
  text-decoration: none;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background: #fff;
  border: 1px solid #e5e5e5;
  color: black;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#login-buttons-password:hover {
  background: black !important;
  color: white;
}

#submit {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #fff;
  color: black;
  border: 1px solid #e5e5e5;
  height: 50px;
  margin: 0;
}

#submit:hover{
  background: black;
  color: #fff;
}


.detailsCont {
  padding-left: 50px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.detailsCont p {
  font-size: 18px;
  font-weight: 300;
}

.detailsCont h4 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 300;
}

.delete {
  display: inline-block; 
  float: right; 
  margin-right: 20px;
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer h1 {
  font-weight: 300;  
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

a.login-link-text {
  color:black;
}

@media (max-width: 500px) {
  body {
    margin: 2em 0 4em 0;
  }

  .task:hover {
    background-color: inherit;
  }

  .task.selected:hover {
    background-color: #fefff4;
  }
}